.original.proportioned {
    width: auto;
    height: auto;
}

.original.distorted {
    width:200
}

.avatar.proportioned{
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}
